---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Error!">
    <main class="m-auto w-full text-center flex my-5">
        <h1 class="font-black uppercase text-5xl mb-5">Ruta no encontrada. Algo fue mal!</h1>
        <img
            class="m-auto"
            src="https://cdn.dribbble.com/users/1138875/screenshots/4669703/404_animation.gif"
            alt="404"
        />
    </main>
</Layout>
