---
import Layout from '../layouts/Layout.astro';
import Book from '../components/book.astro';
import { bookList } from '../data/book-list';
---

<Layout title="@alperonoberto recomienda">
	<main>
		<h1 class="font-black uppercase text-8xl text-center mb-1">
			Libros de 
			<span class="block text-[58px]">
				programación
			</span>
		</h1>
		<ul class="grid grid-cols-2 md:grid-cols-3 gap-10 m-auto mt-3 mb-5 text-center w-[50%]">
			{
				bookList.map(book => {
					return (
						<li>
							<Book id={book.id} title={book.title} img={book.image}></Book>
						</li>
					)
				})
			}
		</ul>
	</main>
</Layout>

